.slInstall .slInstallPopupNarrow
{
	margin:0 auto;
	width:350px;
	position:relative;
	text-align:left;
}
.slInstall .slPopupTopNarrow
{
	background:url(../images/narrow/panel_top.png);
	width:350px;
	height:230px;
	position:absolute;
	top:0;
}
.slInstall .slPopupLoopNarrow
{
	background:url(../images/narrow/panel_loop.png);
	width:350px;
	position:absolute;
	top:230px;
}
.slInstall .slPopupBotNarrow
{
	background:url(../images/narrow/panel_bottom.png);
	width:350px;
	height:211px;
	position:absolute;
	bottom:0;
}
.slInstall .slPopupContentNarrow
{
	position:relative;
	text-align:left;
	z-index:100;
	padding:26px 30px 0 30px;
}
.slInstall .slTextContentNarrow
{
	margin-top:133px;
	padding-bottom:30px;
}
.slInstall .slHeadlineNarrow
{
	font-weight:bold;
	font-size:18px;
	color:#000;
	text-align:center;
}
.slInstall .slButtonNarrow
{
	width:133px;
	height:25px;
	font-weight:bold;
	font-size:12px;
	background:url(../images/wide/button.png);
	display:block;
	color:#fff;
	padding-left:10px;
	padding-top:7px;
	text-transform:uppercase;
	text-decoration:none;
	margin-left:73px;
}
.slInstall a.slButtonNarrow:hover
{
	text-decoration:underline;
}
.slInstall .slScreenshotNarrow
{
	position:absolute;
	left:63px;
	top:-36px;
	background:url(../images/wide/screen_chrome.png);
	width:196px;
	height:158px;
	padding-top:38px;
	padding-left:31px;
}