.slInstall
{
	text-align:center;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:18px;
	color:#444;
	position:relative;
	top:50%;
}
.slInstall p
{
	margin-top:10px;
}
.slInstall .slDivider
{
	margin-top:12px;
	margin-bottom:10px;
}
.slInstall li
{
	list-style-type:square;
	margin-left:13px;
}