<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<configSections>
		<section name="log4net"
				 type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>

	<!-- Chage threshold attribute value to "OFF" to completely disable all logging at runtime-->
	<log4net xsi:noNamespaceSchemaLocation="http://csharptest.net/downloads/schema/log4net.xsd"
			 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 threshold="ALL">
		<appender name="RollingLogFileAppender"
				  type="log4net.Appender.RollingFileAppender">
			<file value="F:\App_Data\Logs\current.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<datePattern value="-yyyy-MM-dd" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="1MB" />
			<staticLogFileName value="true" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<evaluator type="log4net.Core.LevelEvaluator">
				<threshold value="WARN"/>
			</evaluator>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger %property{NDC} - %message%newline" />
				<!--
				<conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline" />
				<conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
				-->
			</layout>
		</appender>
		<appender name="SmtpAppender"
				  type="log4net.Appender.SmtpAppender">
			<from value="noreply@nreez.com" />
			<to value="dextender@gmail.com" />
			<subject value="Notification" />
			<smtpHost value="smtp.gmail.com" />
			<EnableSsl value="true" />
			<authentication value="Basic"/>
			<username value = "noreply@nreez.com"/>
			<password value = "Em}9P(~TKf"/>
			<port value="587"/>
			<bufferSize value="512" />
			<lossy value="true" />
			<evaluator type="log4net.Core.LevelEvaluator">
				<threshold value="INFO"/>
			</evaluator>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline%newline" />
			</layout>
		</appender>
		<appender name="SmtpWithSSLAppender" type="Nreez.Utility.SmtpWithSSLAppender, Nreez.Utility">
			<from value="noreply@nreez.com" />
			<to value="dextender@gmail.com" />
<!--
			<LastEventSubject>
				<conversionPattern value="%property{log4net:HostName} - %level - %logger" />
			</LastEventSubject>
-->
			<smtpHost value="smtp.gmail.com" />
			<EnableSsl value="true" />
			<authentication value="Basic"/>
			<username value = "noreply@nreez.com"/>
			<password value = "Em}9P(~TKf"/>
			<port value="587"/>
			<bufferSize value="512" />
			<lossy value="true" />
			<evaluator type="log4net.Core.LevelEvaluator">
				<threshold value="WARN"/>
			</evaluator>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message" />
			</layout>
		</appender>

		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollingLogFileAppender" />
			<appender-ref ref="SmtpWithSSLAppender" />
		</root>
		
		<!-- Print only messages of level WARN or above in the package Com.Foo -->
<!--
		<logger name="Com.Foo">
			<level value="WARN" />
		</logger>
-->
	</log4net>
</configuration>