<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<authentication mode="Windows">
			<forms>
				<credentials passwordFormat="SHA1">
					<user xdt:Transform="Replace" name="jt" password="01B94B215E5DF8C843CC1FEC744753E3B21DBD48" />
				</credentials>
			</forms>
		</authentication>
	</system.web>

	<appSettings>
		<add xdt:Transform="SetAttributes(value)" key="DataDirectory" value="F:\App_Data\" />
	</appSettings>

	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="UserBehavior" xdt:Locator="Match(name)">
					<serviceMetadata xdt:Transform="Replace" httpGetEnabled="false" httpsGetEnabled="false" />
					<serviceDebug xdt:Transform="Replace" httpHelpPageEnabled="false" includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="ManagementBehavior" xdt:Locator="Match(name)">
					<serviceMetadata xdt:Transform="Replace" httpGetEnabled="false" httpsGetEnabled="false" />
					<serviceDebug xdt:Transform="Replace" httpHelpPageEnabled="false" includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>