<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" xdt:Transform="Replace" />
					<serviceDebug httpHelpPageEnabled="false" includeExceptionDetailInFaults="false" xdt:Transform="Replace" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

	<system.webServer>
		<rewrite xdt:Transform="Insert">
			<rules>
				<clear />
				<rule name="Canonical Host Name (remove www.)" enabled="true" stopProcessing="true">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAll">
<!--						<add input="{HTTP_HOST}" negate="true" pattern="^nreez\.com$" />-->
						<add input="{HTTP_HOST}" negate="true" pattern="^cws13\.my-hosting-panel\.com$" />
					</conditions>
<!--					<action type="Redirect" url="https://nreez.com/{R:1}" redirectType="Permanent" />-->
					<action type="Redirect" url="https://cws13.my-hosting-panel.com/{R:1}" redirectType="Permanent" />
				</rule>
				<!--
				<rule name="Convert to lower case" enabled="true" stopProcessing="true">
					<match url=".*[A-Z].*" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{URL}" negate="true" pattern="\.js$" />
						<add input="{URL}" negate="true" pattern="\.css$" />
						<add input="{URL}" negate="true" pattern="\.asmx$" />
						<add input="{URL}" negate="true" pattern="\.aspx$" />
						<add input="{URL}" negate="true" pattern="\.html$" />
						<add input="{URL}" negate="true" pattern="\.xap$" />
						<add input="{URL}" negate="true" pattern="\.zip$" />
						<add input="{URL}" negate="true" pattern="\.xaml$" />
						<add input="{URL}" negate="true" pattern="\.svc$" />
					</conditions>
					<action type="Redirect" url="{ToLower:{R:0}}" redirectType="Permanent" />
				</rule>
				-->
				<rule name="Convert to lower case" enabled="true" stopProcessing="true">
					<match url="[A-Z]" ignoreCase="false" />
					<action type="Redirect" url="{ToLower:{URL}}" />
				</rule>
				<rule name="Redirect HTTP to HTTPS" enabled="true" stopProcessing="true">
					<match url="(.*)"/>
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$"/>
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther"/>
				</rule>
				<rule name="Remove trailing slash" enabled="true" stopProcessing="true">
					<match url="(.*)/$" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Redirect" url="{R:1}" redirectType="Permanent" />
				</rule>
				<rule name="Redirect /index.html to /" enabled="true" stopProcessing="true">
					<match url="(.*)/index.html$" />
					<conditions logicalGrouping="MatchAll" />
					<action type="Redirect" url="{R:1}/" redirectType="Permanent" />
				</rule>
				<rule name="Redirect /default.aspx to /" enabled="true" stopProcessing="true">
					<match url="(.*)/default.aspx$" />
					<conditions logicalGrouping="MatchAll" />
					<action type="Redirect" url="{R:1}/" redirectType="Permanent" />
				</rule>
				<rule name="Rewrite /splash to /splash.xaml" enabled="false" stopProcessing="true">
					<match url="^splash$" />
					<conditions logicalGrouping="MatchAll" />
					<!--					<action type="Rewrite" url="ClientBin/Splash.xaml" />-->
					<action type="Rewrite" url="splash.xaml" />
				</rule>
				<rule name="Rewrite /app.xap to /ClientBin/SilverFAB.xap" enabled="false" stopProcessing="true">
					<match url="^app.xap$" />
					<conditions logicalGrouping="MatchAll" />
					<action type="Rewrite" url="ClientBin/SilverFAB.xap" />
				</rule>
				<rule name="Rewrite /news/feed to separate WCF service" enabled="false" stopProcessing="true">
					<match url="^feed$" />
					<conditions logicalGrouping="MatchAll" />
					<action type="Rewrite" url="/Fab.Server/Api/SyndicationService.svc/news" />
				</rule>
				<rule name="Redirect /overview HTML to Silverlight root" enabled="false" stopProcessing="true">
					<match url="^overview$" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{HTTP_USER_AGENT}" negate="true" pattern="MSNBot|Googlebot|Yahoo! Slurp|Ask Jeeves/Teoma|Yandex|iisbot" />
					</conditions>
					<action type="Redirect" url="#" />
				</rule>
				<rule name="Redirect HTML to Silverlight" enabled="false" stopProcessing="true">
					<match url="^(.+)$" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{URL}" negate="true" pattern="^.*/js$" />
						<add input="{URL}" negate="true" pattern="^.*/splash$" />
						<add input="{URL}" negate="true" pattern="^.*/app.xap$" />
						<add input="{URL}" negate="true" pattern="^.*/feed$" />
						<add input="{HTTP_USER_AGENT}" negate="true" pattern="MSNBot|Googlebot|Yahoo! Slurp|Ask Jeeves/Teoma|Yandex|iisbot" />
					</conditions>
					<action type="Redirect" url="#{R:1}" />
				</rule>
				<rule name="Prevent image hotlinking" enabled="false" stopProcessing="true">
					<match url=".*\.(png|jpg|gif)$" />
					<conditions logicalGrouping="MatchAll">
						<add input="{HTTP_REFERER}" negate="true" pattern="^$" />
						<add input="{HTTP_REFERER}" negate="true" pattern="^http://nreez\.com/.*$" />
					</conditions>
					<action type="Rewrite" url="/images/say_no_to_hotlinking.jpg" />
				</rule>
				<rule name="Maintenance (Return 503)" enabled="false" stopProcessing="true">
					<match url="^.*" />
					<conditions logicalGrouping="MatchAll" />
					<action type="CustomResponse" statusCode="503" subStatusCode="0" statusReason="nReez site is unavailable" statusDescription="nReez site is down for maintenance" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>

</configuration>