<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>

	<system.webServer>
		<rewrite xdt:Transform="Insert">
			<rules>
				<clear />

				<!-- Remove www. -->
				<rule name="Canonical Host Name (remove www.)" enabled="true" stopProcessing="true">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAll">
						<add input="{HTTP_HOST}" negate="true" pattern="^nreez\.com$" />
					</conditions>
					<!--
					<action type="Redirect" url="https://nreez.com/{R:1}" redirectType="Permanent" />
					-->
					<action type="Redirect" url="http://nreez.com/{R:1}" redirectType="Permanent" />
				</rule>

				<!-- Remove trailing / -->
				<rule name="Remove trailing slash" enabled="true" stopProcessing="true">
					<match url="(.*)/$" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Redirect" url="{R:1}" redirectType="Permanent" />
				</rule>
				
				<!-- Lower Case -->
				<rule name="Convert to lower case" enabled="true" stopProcessing="true">
					<match url=".*[A-Z].*" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{URL}" negate="true" pattern="\.js$" />
						<add input="{URL}" negate="true" pattern="\.css$" />
						<add input="{URL}" negate="true" pattern="\.png$" />
						<add input="{URL}" negate="true" pattern="\.jpg$" />
						<add input="{URL}" negate="true" pattern="\.xap$" />
						<add input="{URL}" negate="true" pattern="\.zip$" />
						<add input="{URL}" negate="true" pattern="\.xaml$" />
						<add input="{URL}" negate="true" pattern="\.svc$" />
					</conditions>
					<action type="Redirect" url="{ToLower:{R:0}}" redirectType="Permanent" />
				</rule>

				<!-- Force SSL for silverlight hosting page -->
				<rule name="Redirect /app HTTP to HTTPS" enabled="true" stopProcessing="true">
					<match url="(.*)/app$"/>
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$"/>
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther"/>
				</rule>

				<!-- /index.html -->
				<rule name="Redirect /index.html to /" enabled="true" stopProcessing="true">
					<match url="(.*)/index.html$" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="false"/>
					</conditions>
					<action type="Redirect" url="{R:1}/" redirectType="Permanent" />
				</rule>
				
				<!-- /terms -->
				<rule name="Redirect /terms.txt to /terms" enabled="true" stopProcessing="true">
						<match url="(.*)/terms.txt$"/>
						<conditions logicalGrouping="MatchAll"/>
						<action type="Redirect" url="{R:1}/terms" redirectType="Permanent"/>
				</rule>
				<rule name="Rewrite /terms to /terms.txt" enabled="true" stopProcessing="true">
					<match url="^(.*)/terms$"/>
					<conditions logicalGrouping="MatchAll"/>
					<action type="Rewrite" url="{R:1}/terms.txt"/>
				</rule>

				<!-- /404 -->
				<rule name="Redirect /404.html to /404" enabled="true" stopProcessing="true">
					<match url="(.*)/404.html$"/>
					<conditions logicalGrouping="MatchAll"/>
					<action type="Redirect" url="{R:1}/404" redirectType="Permanent"/>
				</rule>
        <rule name="Rewrite /404 to /404.html" enabled="true" stopProcessing="true">
            <match url="(.*)/404$"/>
            <conditions logicalGrouping="MatchAll"/>
            <action type="Rewrite" url="{R:1}/404.html"/>
				</rule>
				
				<!-- /error -->
				<rule name="Redirect /error.html to /error" enabled="true" stopProcessing="true">
            <match url="(.*)/error.html$"/>
            <conditions logicalGrouping="MatchAll"/>
            <action type="Redirect" url="{R:1}/error" redirectType="Permanent"/>
				</rule>
        <rule name="Rewrite /error to error.html" enabled="true" stopProcessing="true">
            <match url="(.*)/error$"/>
            <conditions logicalGrouping="MatchAll"/>
            <action type="Rewrite" url="{R:1}/error.html"/>
				</rule>
				
				<!-- ####### Disabled ####### -->

				<!-- /splash -->
				<rule name="Rewrite /splash to /splash.xaml" enabled="false" stopProcessing="true">
					<match url="^splash$" />
					<conditions logicalGrouping="MatchAll" />
					<!--
					<action type="Rewrite" url="ClientBin/Splash.xaml" />
					-->
					<action type="Rewrite" url="splash.xaml" />
				</rule>

				<!-- /app.xap -->
				<rule name="Rewrite /app.xap to /ClientBin/SilverFAB.xap" enabled="false" stopProcessing="true">
					<match url="^app.xap$" />
					<conditions logicalGrouping="MatchAll" />
					<action type="Rewrite" url="ClientBin/SilverFAB.xap" />
				</rule>
				
				<!-- Hot Linking -->
				<rule name="Prevent image hotlinking" enabled="false" stopProcessing="true">
					<match url=".*\.(png|jpg|gif)$" />
					<conditions logicalGrouping="MatchAll">
						<add input="{HTTP_REFERER}" negate="true" pattern="^$" />
						<add input="{HTTP_REFERER}" negate="true" pattern="^http://nreez\.com/.*$" />
					</conditions>
					<action type="Rewrite" url="/images/say_no_to_hotlinking.jpg" />
				</rule>
				
				<!-- 503 -->
				<rule name="Maintenance (Return 503)" enabled="false" stopProcessing="true">
					<match url="^.*" />
					<conditions logicalGrouping="MatchAll" />
					<action type="CustomResponse" statusCode="503" subStatusCode="0" statusReason="nReez is unavailable" statusDescription="nReez is currently down for maintenance and should be back online shortly. Sorry for inconvinience." />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>

</configuration>