/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/

/* Header */

#header-wrap { height: 38px; z-index: 99999; position: fixed; text-align: right; margin-left: auto; margin-right: auto; }
#header		 { position: relative; width: 100%; height: 38px; margin: 0 auto; float: right; }

/***** Navigation *****/

ul.nav 											{ padding:0px 10px 10px;margin: 10px -10px; font-size:1.0em; list-style:none; float:left; text-transform:uppercase; text-align:left; width:100%; }
ul.nav li										{ padding:0; margin:0; display:block; text-align:right; float:left; background-image:none; }
ul.nav li a										{ padding:7px 15px 7px; text-decoration:none; color:#888; }
ul.nav li a:hover								{ padding:7px 15px 7px; border-bottom:1px solid #333; text-decoration:none; color:#333; }
ul.nav li a.current								{ padding:7px 15px 6px; border-bottom:3px solid #2476E4; text-decoration:none; color:#333; }

ul.nav li:first-child { padding-right: 30px;}
#logo { padding:0 0 1px 0;}
#logo img { margin-top: -3px; }

ul.nav li a.loginButton { background-color: #2476E4; color: white; padding: 7px 15px; border-bottom: 0; }

#loginMenu { float:right; }

/* Clearing and Alignment Classes */
.align-left { float: left; }
.align-right { float: right; }
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.ie7 .clearfix { zoom: 1; } /* IE7 */
img.align-left { margin-top: 13px; margin-right: 12px; }

.container .section{ padding: 38px 0 0 0; }
.container .section .row { clear: both; overflow: hidden; margin-bottom: 0; }
.container .section .no-bottom-margin{ margin-bottom: 0; }
#home h2 { text-align: center; padding: 20px 0 30px; }

/* Slider */

.slider-wrapper { width: auto; box-shadow: 0 1px 5px 0 #4A4A4A; margin-bottom: 10px; position: relative; }

#featured { background: url("../images/foundation/orbit/loading.gif") no-repeat center #000; height: 300px; }
#featured img { display: none; }

#featured.orbit { background: none; }
#featured.orbit img { display: block; }

/* FAQ */

#faq { position:relative; }
#faq h4  { cursor:pointer; }
#faq h4.active  { color:#d74646; }
#faq div   { position:relative; }
#faq div p  { padding:0; margin-bottom:15px; }

/* Footer */

ul.footer-menu { float: left; list-style: none; margin-bottom: 0; }
ul.footer-menu > li:last-child:after { display: none; }
ul.footer-menu > li:after { content: "·"; margin-left: 10px; }
ul.footer-menu > li + li { margin-left: 10px; }
ul.footer-menu > li { font-size: .8em; vertical-align: middle; clear: both; display: inline-block; white-space: nowrap; }

ul.footer-menu li a { text-decoration:none; color:#888; }
ul.footer-menu li a:hover { text-decoration:underline; }

#bottom-line { margin: 50px 0 10px; }

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	ul.nav li							{ padding:0; margin:0; display:block; text-align:right; float:right; background-image:none;font-size: 12px; }
	ul.nav li a							{ padding:7px 7px 7px; text-decoration:none; color:#888; }
	ul.nav li a:hover					{ padding:7px 7px 7px; border-bottom:1px solid #333; text-decoration:none; color:#333; }
	ul.nav li a.current					{ padding:7px 7px 6px; border-bottom:3px solid #2476E4; text-decoration:none; color:#333; }

	ul.nav li a.loginButton {
		background-color: #2476E4;
		color: white;
		padding: 7px 15px;
		border-bottom: 0px;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	ul.nav li a.menuButton {
		display: none;
	}


	ul.nav li a.loginButton {
		background-color: #2476E4;
		color: white;
		padding: 7px 15px;
		border-bottom: 0px;
	}
}