<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="df580c21-b73a-4ee8-bd51-aa36e7fb263a"
            Publisher="CN=Tod"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>Fab.Metro</DisplayName>
    <PublisherDisplayName>Tod</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>Fab.Metro</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="Fab.Metro.App">
        <VisualElements
            DisplayName="Fab.Metro"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="Fab.Metro"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>