<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<location path="SilverFAB.xap">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="10.00:00:00" />
            </staticContent>
        </system.webServer>
    </location>

	<system.webServer>
<!--
		<staticContent>
			<clientCache cacheControlMode="NoControl" />
		</staticContent>
-->
		<httpProtocol>
			<customHeaders>
				
				<!--
					Use "max-age=0" to force revalidate xap file every time;
					Use "max-age=3600" to allow revalidate xap file each hour: 60s * 60m = 3600 sec.
				-->
				<!--
				<add name="Cache-Control" value="max-age=0" />
				<add name="Cache-Control" value="no-cache" />
				-->

			</customHeaders>
		</httpProtocol>
		<!--
		
		* IIS 7.0 build-in "static content compression" feature is not working for some reason *
		
		<httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
			<clear/>
			
			<scheme name="gzip"
					dll="%Windir%\system32\inetsrv\gzip.dll" />

			<dynamicTypes>
				<add mimeType="application/xaml+xml"
					 enabled="true" />
				<add mimeType="*/*"
					 enabled="false" />
			</dynamicTypes>

			<staticTypes>
				<add mimeType="application/xaml+xml"
					 enabled="true"/>
				<add mimeType="*/*"
					 enabled="false" />
			</staticTypes>
		</httpCompression>
		<urlCompression doDynamicCompression="true" />
		-->
	</system.webServer>
</configuration>
