<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>
    <!-- .aspx files -->
    <customErrors mode="On" defaultRedirect="error.html">
      <error statusCode="404" redirect="404.html"/>
    </customErrors>
  </system.web>
  <system.webServer>
    <!-- static files -->
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" path="404.html" responseMode="File"/>
    </httpErrors>
    <directoryBrowse enabled="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.html"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>